RewriteEngine on

# Rewrite all access to /core/ to index.php
RewriteRule ^core(.+?) index.php [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
